@import "/src/variable.scss";

.containerParagraph {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  

  h1 {
    @include title;
  }
  p {
    margin-top: 2em;
    @include contentText;
    
  }
}

@media (width>768px){
  .containerParagraph{
    display: flex;
    align-items:flex-start;
    
    h1{
      font-size: $SizeTitleDesktop;
    }
    
  }
}
