@import "/src/variable.scss";

.boxContainer {


    //Gradient behind Header
  .blueBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 160vw;
    background:$GradientHeader;
    border-bottom-right-radius: 30px;
    z-index: -1;
  }
    .headerContainer {
       z-index: 1;
      .textHeader {
        margin-top: 5em;
        
        h1 {
          font-size: $SizeTitle;
        }
        p {
          font-size: $SizeContent;
        }
      }
      .bmiCalculator {
        @include reset-list;
        padding-top: 10em;
      }
    }
  
}
