@import "/src/variable.scss";

.bmiCalculator {
  margin-top: 3em;
  background-color: $backCard;
  padding: 1.5em;
  border-radius: 30px;
  box-shadow: $boxShadow;
  h1 {
    display: flex;
    justify-content: center;
    @include subTitle;
  }
  .flexRadio {
    display: flex;
    justify-content: space-around;
    .metric {
      @include subTitle;
      font-size: 20px;

      label {
        padding-left: 15px;
      }
    }
    .imperial {
      @extend .metric;

      label {
        @extend label;
      }
    }
  }

  .calculNumber {
    .label {
      color: grey;
    }
    .input {
      
      margin-top: 0.5em;
      width: 90%;
      height: 2.5em;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 20px;
      font-size: 25px;
   
    }
  }
  .resultNumber {
    padding: 2em;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      rgb(99, 68, 255) 0%,
      rgba(99, 68, 255,0.8) 100%
      
    );
    @include contentText;
    color: $WhitePrimmary;
    h3{
        font-size: 20px
    }
    .result{
        @include title;
        font-size: 3em;;
    }
    p{
        margin-top: 1em;
    }
  }
}

.spanMetric{
    position: relative;
    top: -1.9em;
    left: 6.5em;
    font-size: $SizeTitle;
    color: $BluePrimmary;
    
}

/* Variable to margin directly all div */
.marginTop {
  margin-top: 1em;
}


//Mobile M
@media (width > 320px) and (width < 376px){
  //metric unity in the inputs
  .spanMetric{
    left: 8.5em;
    font-size: $SizeTitle;
    color: $BluePrimmary;
}
}


//mobile L
@media (width > 376px) and (width < 426px){
  //metric unity in the inputs
  .spanMetric{
    left: 10em;
    font-size: $SizeTitle;
    color: $BluePrimmary;
}


}


//tablette
@media (width > 426px) and (width < 769px){
  //metric unity in the inputs

  .bmiCalculator{
    
    h1{
      justify-content: flex-start;
    }
  .flexRadio{
    justify-content: flex-start;
    .imperial{
      margin-left: 9.5em;
      
    }
  }

  .calculNumber{
    display: flex;
    align-items: center;
    
    .input {
      
      width: 9em;
      height: 2em;
   
    }
    .spanMetric{
      display:block;
      top: -1.6em;
      left: 7.5em;
      width: 2em;
  }
 
  }
  .resultNumber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    border: none;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background: linear-gradient(
      90deg,
      rgb(99, 68, 255) 0%,
      rgba(99, 68, 255,0.8) 100%
      
    );
   .paragrapghResult{
    margin: 0;
    width: 250px;
   }
  }
}
}


//Desktop
@media (width > 768px) and (width < 1441px){
  //metric unity in the inputs

  .bmiCalculator{
    position: relative;
    
   
    left: 2em;
    top: -2em;
    margin-top: -1em;
    h1{
      justify-content: flex-start;
    }
  .flexRadio{
    justify-content: flex-start;
    .imperial{
      margin-left: 7em;
      
    }
  }

  .calculNumber{
    display: flex;
    align-items: center;
    
    .input {
      width: 7em;
      height: 2em;
   
    }
    .spanMetric{
      display:block;
      top: -1.6em;
      left: 5.5em;
      width: 2em;
  }
 
  }
  .resultNumber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    border: none;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background: linear-gradient(
      90deg,
      rgb(99, 68, 255) 0%,
      rgba(99, 68, 255,0.8) 100%
      
    );
    height: 70px;
   .paragrapghResult{
    margin: 0;
    width: 200px;
   }
  }
}
}




//Enlever Margin top