//import fonts
@font-face {
  font-family: Heebo-400;
  src: url(assets/fonts/Heebo/Heebo-Regular.ttf);
}
@font-face {
  font-family: Heebo-500;
  src: url(assets/fonts/Heebo/Heebo-Medium.ttf);
}
@font-face {
  font-family: BarlowRegular;
  src: url(assets/fonts/Barlow/Barlow-Regular.ttf);
}
//mixin table
@mixin title{
  font-family:Heebo-400;
  font-size: $SizeTitle;
}

@mixin subTitle{
  font-family:Heebo-400;
  font-size: $SizeCardTitle;
  color: $fontColorContent;
}

@mixin contentText{
  font-family: BarlowRegular;
  font-size: $SizeContent;
  color: $fontColorContent;
}

//Size title & content
$SizeTitle: 25px;
$SizeCardTitle: 18px;
$SizeContent: 14px;

//Background-color Card
$backCard:rgba(254, 254, 254);

//Colors 
$BluePrimmary:#6344ff;
$WhitePrimmary:#fffdfd;
$fontColorContent :#262626;

//Gradient for the header
$GradientHeader: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(17, 179, 211, 1) 170%
  );
$GradientOther: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0) 1%,
    rgba(17, 179, 211, 1) 900%
  );

//Box Shadow components
  $boxShadow : 14px 20px 59px -5px rgba(99,68,255,0.2);

